{% extends "base.html" %}

{% block content %}
<h3>Užsakymai</h3>
{% if uzsakymai %}
{% for uzsakymas in uzsakymai %}
<hr>
<p><strong>Data:</strong> {{uzsakymas.data}}</p>
<p><strong>Vartotojas:</strong> {{uzsakymas.vartotojas.vardas}}</p>
<br/>
<h5>Prekės:</h5>
{% if uzsakymas.prekes %}
{% for preke in uzsakymas.prekes %}
<p><strong>Pavadinimas:</strong> {{preke.produktas.pavadinimas}} <strong>Prekės kaina:</strong> {{preke.produktas.kaina}} <strong>Kiekis:</strong> {{preke.kiekis}} <strong>Suma:</strong> {{preke.produktas.kaina * preke.kiekis}}</p>
{% endfor %}
{% endif %}

<p><a href="{{ url_for('prideti_preke', id=uzsakymas.id)}}">Pridėti prekę</a></p>

{% endfor %}
{% endif %}

<hr>
<p><a href="{{ url_for('naujas_uzsakymas')}}">Naujas užsakymas</a></p>

{% endblock %}